/* ASUTRALIE */

#asutralie {
    margin: 0;
    --start-color: #FFA62F;
    background-color: var(--start-color);
    --end-color: #FFFFD2;
}

canvas {
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

#asutralie-2 {
    --start-color: white;
    background-color: var(--start-color);
    --end-color: black;
    animation: shade 90s forwards;

    display: flex;
    justify-content: center;
    align-items: center;
}

#asutralie-2 .composer {
    opacity: 0;
}

#asutralie-3 .background {
    background-color: black;
}

#outback {
    --start-color: black;
    background-color: var(--start-color);
    --end-color: #FFA62F;
    animation: shade 60s forwards;
}

#outback ul {
    list-style-position: outside;
}

#outback ul a {
    font-size: 1.5rem;
}

/* Color animations */

.shade {
    animation: shade 30s forwards;
}

.mirage {
    animation: mirage 15s forwards;
}

.glow {
    animation: glow 30s forwards;
    background: radial-gradient(#FFD700, transparent);
}

.unlit {
    animation: unlit 30s forwards;
}

.erase {
    animation: erase 30s forwards;
    --start-color: #FFFFD2 !important;
    --end-color: white !important;
}

.hole {
    animation: mirage 15s forwards;
    background: radial-gradient(white, transparent, transparent);
    position: relative;
    width: 500px;
    height: 500px;
    min-height: auto;
    border-radius: 50%;
    filter: blur(75px);
}

.jade {
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: shimmer 15s forwards;
}

.noise {
    border-radius: 0;
    filter: none;
    animation: noise 10s forwards;
    background: linear-gradient(to bottom, transparent, white, transparent, white, transparent, white, transparent);
}

.blink {
    animation: blink 1s backwards;
    animation-iteration-count: 2;
}

.glitch {
    filter: url(#displacementFilter);
}

.rewind {
    animation: rewind 3s forwards;
    animation-iteration-count: 10;
}

@keyframes mirage {
    0% { opacity: 0; }
    25% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes unlit {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes erase {
    from { background-color: var(--start-color); }
    to { background-color: var(--end-color); }
}

@keyframes shimmer {
    0% {
        opacity: 0;
        background: linear-gradient(217deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    5% {
        opacity: 1;
        background: linear-gradient(217deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    28% {
        opacity: 1;
        background: linear-gradient(217deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    33% {
        opacity: 0;
    }
    38% {
        opacity: 1;
        background: linear-gradient(127deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    61% {
        opacity: 1;
        background: linear-gradient(127deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    66% {
        opacity: 0;
    }
    71% {
        opacity: 1;
        background: linear-gradient(336deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    94% {
        opacity: 1;
        background: linear-gradient(336deg, rgba(94,251,110,.8), rgba(94,251,110,0) 50%);
    }
    99% {
        opacity: 0;
    }
}

@keyframes noise {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes rewind {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
}
