/* FIONA */

#fiona .background {
    --start-color: black;
    background-color: var(--start-color);
    --end-color: #FFA62F;
}

#fiona-2 {
    --start-color: #FFA62F;
    background-color: var(--start-color);
    --end-color:#387C44;
    animation: shade 60s forwards;
    animation-delay: 60s;
}

#fiona-2 .background {
    animation: stripes 120s forwards;
    background: linear-gradient(to right, transparent, #387C44, transparent, #387C44, transparent, #387C44, transparent, #387C44, transparent, #387C44, transparent, #387C44);
}

#fiona-3 .background {
    background-color: #387C44;
}

#fiona-4 .background {
    --start-color: #387C44;
    background-color: var(--start-color);
    --end-color: white;
    animation: shade 60s forwards;
}

/* Color animations */

.shade {
    animation: shade 90s forwards;
}

@keyframes stripes {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
