/* INTRO */

#intro .background {
    background-color:  #FFA62F;
    /* background-color:  #F88017; */
    /* background-color:  #F87217; */
    /* background-color:  #F87431; */
    /* background-color:  #FF8040; */
    /* background-color:  #E56717; */

    -moz-filter: blur(100px);
    -webkit-filter: blur(100px);
    filter: blur(100px);
}

#title, #intro li, #commands {
    display: flex;
    align-items: center;
}

@media (min-width: 1024px) and (min-height: 900px) {
    #intro main {
        display: flex;
    }
}

#intro main, #title, #commands {
    flex-direction: column;
}

#intro main {
    justify-content: space-around;
    line-height: 1.25;
}

#intro .container {
    text-align: center;
}

#intro ul {
    line-height: 1.75;
    padding: 5px 15px;
    border: 1px solid black;
    text-align: left;
}

@media (max-width: 600px) {
    #intro li {
        align-items: baseline;
    }
    #intro li:last-of-type {
        margin-bottom: 0.5rem;
    }
}

#intro li::before {
    content: '•';
    margin-right: 1rem;
    font-size: 30px;
}

.key {
    border: 1px solid black;
    padding: 5px;
}

.instructions, #start {
    opacity: 0;
}

/* Margins */

#intro h1, #intro h2, #title p:first-of-type, #title p:last-of-type, #title p:nth-of-type(2), #commands p {
    margin-top: 0;
}

#intro h2, #title p:first-of-type, #title p:last-of-type, #commands p {
    margin-bottom: 0;
}

#intro h3, #intro .container:last-of-type p {
    margin: 0;
}

#intro h1, #intro > main > .container > span {
    margin-bottom: 1.5rem;
}

 #intro ul {
     margin: 1.5rem 0;
 }

#intro .subtitle {
    margin-bottom: 1rem;
}

#commands {
    margin: 3rem 0;
}

@media (min-width: 1024px) and (min-height: 1024px) {
    #commands {
        margin: 0;
    }
}

/* Font */

#intro h1, #intro h2, #intro .desc, #intro .subtitle {
    font-weight: bold;
}

#intro h1 {
    font-size: 2rem;
}

#intro h2, #intro .desc {
    font-size: 1.5rem;
}

#intro .desc {
    font-size: 1.25rem;
}

#intro .subtitle {
    font-size: 1.25rem;
    display: inline-block;
}
