/* ORCA */

#orca {
    background-color: beige;
}

#orca main {
    height: auto;
}

#orca h2, #orca ul {
    margin-top: 0;
}

#orca code {
    font-size: 1rem;
    padding: 0 0.5rem;
    font-weight: bold;
    background-color: white;
    /* or */
    /* background-color: black; */
    /* color: white; */
}

/* ol */

#orca ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 3rem;
}

@media (min-width: 600px) {
    #orca ol {
        list-style-type: decimal;
        padding-left: 40px;
    }
}

#orca ol > li {
    margin-top: 3rem;
    border: 1px solid black;
    padding: 0 20px;
}

#orca ol p {
    margin-bottom: 0.5rem;
}

/* ul */

#orca ul {
    list-style-type: disc;
}

#orca ol > li > ul, #orca ol ul ul {
    padding-left: 20px;
}

@media (min-width: 600px) {
    #orca ol > li > ul, #orca ol ul ul {
        padding-left: 40px;
    }
}

/* First level ul */

#orca ol > li > ul, #orca ol > li:last-of-type p:last-of-type {
    margin-bottom: 1.5rem;
}

#orca ol > li:not(:last-of-type) > ul:first-of-type > li {
    font-weight: bold;
}

/* Second level ul */

#orca ol ul ul {
    list-style-type: circle;
}


#orca ol ul ul li {
    font-weight: normal;
}
