/* RUBY */

#ruby .background {
    --start-color: white;
    background-color: var(--start-color);
    --end-color: #FFA62F;
    animation: shade 60s;
    animation-fill-mode: forwards;
}

#ruby-2 .background {
    --start-color: #FFA62F;
    background-color: var(--start-color);
    --end-color: black;
    animation: shade 90s forwards;
}

#ruby-3 {
    --start-color: black;
    background-color: var(--start-color);
    --end-color: #FF4A3F;
    animation: shade 30s forwards;
}

#ruby-3 .background {
    --start-color: transparent;
    background-color: var(--start-color);
    --end-color: #F62217;
    animation: shade 30s forwards;
    animation-delay: 30s;
}

#ruby-3 span.beginner, #ruby-3 input.asio, #ruby-3 label, #ruby-4 span.beginner, #ruby-4 input.asio, #ruby-4 label {
    opacity: 0;
}

#ruby-3 input.asio:not(.inline), #ruby-4 input.asio:not(.inline) {
    display: block;
}

#ruby-3 span.beginner, #ruby-4 span.beginner {
    white-space: nowrap;
}

#ruby-4 main {
    --start-color: #F62217;
    background-color: var(--start-color);
    --end-color: black;
    animation: shade 90s forwards;
}

#ruby-4 label {
    color: white;
}

.visible {
    opacity: 1 !important;
}
