/* SOURCES */

#sources .background {
    background-color: #FFA62F;
    animation: sandy 30s forwards;
}

#sources h2:first-of-type {
    margin: 0 0 20px 0;
}

#sources h2:not(:first-of-type) {
    margin: 40px 0 20px 0;
}

#sources h3 {
    margin: 20px 0 0 0;
}

#sources ul {
    margin-top: 0;
}

#sources .action {
    opacity: 0;
}

/* Color animations */

@keyframes sandy {
    0% {
        -moz-filter: blur(0);
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    100% {
        -moz-filter: blur(100px);
        -webkit-filter: blur(100px);
        filter: blur(100px);
    }
}
