/* SPACE */

#space {
    margin: 0;
    background-color: black;
}

canvas.background {
    background-color: black;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: glow 60s forwards;
}

button {
    opacity: 0;
}
