:root {
    font-family: sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body:not(#intro):not(#orca):not(#sources) {
    overflow: hidden;
}

body:not(#intro):not(#orca):not(#sources) h1, body:not(#intro):not(#orca):not(#sources) p {
    opacity: 0;
    white-space: nowrap;
}

main, .background {
    width: 100%;
    min-height: 100%;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body:not(#outback):not(#sources) ul {
    list-style-type: none;
}

body:not(#intro):not(#orca):not(#outback):not(#sources) ul, #menu, #menu-instructions, #repeat-commands, #change-mode {
    opacity: 0;
}

#menu {
    position: absolute;
}

#repeat-commands {
    white-space: nowrap;
}



/* global */

.hide {
    display: none;
}

/* Color animations */

@keyframes shade {
    from { background-color: var(--start-color); }
    to { background-color: var(--end-color); }
}

@keyframes glow {
    from { opacity: 0; }
    to { opacity: 1; }
}
